{% extends 'base.html' %}

{% block title %}Registro{% endblock title %}

{% block content %}
<section class="form-card">
    <h2>Crear cuenta de cliente</h2>
    <form method="post" class="producto-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="field-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <small class="error">{{ field.errors|striptags }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn-whatsapp">Crear cuenta</button>
    </form>
</section>
{% endblock content %}
